*{
    margin:0;
    padding:0;
}

body{
    background-color: lightgray;
}

.content{
    width:600px;
    margin:auto;
    background-color:  lightgray;
}

h1{
    text-align: center;
    margin:20px;
}

table{
    width:100%;
    
}

tr th {
    background-color: rgb(161, 163, 165);
    color: white;
    padding:20px;
}

tr td:hover{
    background-color: white;
    color: black;
}

tr td {
    background-color: slategrey;
    color:white;
    padding:10px;
}

